<%- include('partials/header.ejs')%>
  <!--Para incluir partes de outro documento(usando quando a parte externa e reutilizada em outros códigos) -->

    <body>
      <%- include('partials/navbar.ejs')%>
      <div class="container">
        <div class="card" id='form-pergunta'>
        <h3>Perguntas</h3>
        <% pergunta.forEach(perguntas => { %>
          <p id="retornoDoBanco"><%= perguntas.titulo %></p>
          <!-- <% console.log('titulo',perguntas.titulo) %> -->
          <% }) %>
        </div>
        
         
      </div>
    </body>
    <%- include('partials/footer.ejs')%>
   
   
   
   
