<%- include('partials/header.ejs')%> <! --Para incluir partes de outro documento(usando quando a parte externa e reutilizada em outros códigos) -->

  <body>
    <%- include('partials/navbar.ejs')%>
      <div class="container">
        <div class="card" id='form-pergunta'>
          <div class="card-header">
            <h3>Home</h3>
          </div>
       
  </body>
<%- include('partials/footer.ejs')%> 