body{
  background-color:rgb(11, 39, 66);
}
div#form-pergunta{
  margin-top: 5vh;
}
nav#navbar{
  background-color: rgb(35, 93, 143);
}
.corBotao{
  background-color: rgb(11, 39, 66);
  color: rgb(218, 228, 233)
}
#corBotao{
  background-color: rgb(35, 93, 143);;
  color: rgb(218, 228, 233)
}
.corBotao02{
  background-color: rgb(35, 93, 143);
  color: rgb(218, 228, 233)
}
p#retornoDoBanco{
  color: rgb(8, 8, 9)
}
.CorBrancaTX{
  color:rgb(253, 253, 253);
}
/* h1{
  color:rgb(253, 253, 253);
}
p{
  color:rgb(253, 253, 253);
} */